@mixin pseudo($content, $background-color) {
  color: $text-color;
  font-size: 0.56rem;
  font-weight: 600;
  width: 58px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: -29px;
  left: -29px;
  content: $content;
  background-color: $background-color;
}

@mixin button($color) {
  color: $color;
  display: block;
  margin: 0 auto;
  width: 312px;
  height: 60px;
  line-height: 60px;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color .5s;

  &:hover {
    background-color: #FFA60D;
    border: none;
  }
}

@mixin pseudo1250 {
  font-size: 0.56rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: -20px;
  left: -20px;
}

@mixin pseudo1024 {
  font-size: 0.52rem;
  width: 46px;
  height: 46px;
  line-height: 46px;
  top: -23px;
  left: -23px;
}

@mixin pseudo768 {
  font-size: 0.72rem;
  width: 56px;
  height: 56px;
  line-height: 56px;
  top: -28px;
  left: -28px;
}
