.name-of-chef {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 30px 0 30px;
}

@media screen and (max-width:1024px) {
    .name-of-chef {
        font-size: 1.4rem;
    }
}

@media screen and (max-width:768px) {
    .name-of-chef {
        font-size: $secondary-font;
        margin: 20px 0 20px;
    }
}