.up {
    position: fixed;
    right: 20px;
    bottom: 19px;
    color: #fff;
    background-color: rgba(255, 172, 28, 1);
    width: 70px;
    height: 70px;
    border-radius: 70%;
    line-height: 70px;
    text-align: center;

    &:hover {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 768px) {
    .up {
        width: 60px;
        height: 60px;
        border-radius: 60%;
        line-height: 60px;
    }
}

@media screen and (max-width: 500px) {
    .up {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 50px;
    }
}